.container {
    background-color: #7bba70;
    height: 100%;
    justify-content: center;

    .date-container {
        display: flex;
        flex-direction: row;
        color: white;
        margin: auto;
        width: 15%;
        padding-top: 10px;

        .date-container__icon {
            cursor: pointer;
        }

        .date-container__date {
            font-size: 28px;
        }
    }
    
    .card-container {
        margin-top: 100px;
        background-color: white;
        width: 1000px;
        margin: auto;
        color: #7bba70;
        display: flex;
        flex-direction: column;

        mat-card-content {
            .card-container__button-right {
                float: right;
            }
        }
        .card-container__list {
            margin-top: 40px;

            .card-container__list-item {
                color: #7bba70; 
            }
        }
    }
}