<div class="container">
    <div class="date-container">
        <span class="material-icons date-container__icon" (click)="subtractDay()">chevron_left</span>
        <h3 class="date-container__date">{{scheduleDay | date: 'dd/MM/yyyy'}}</h3>
        <span class="material-icons date-container__icon" (click)="addDay()">chevron_right</span>
    </div>
    <mat-card class="card-container">
        <mat-card-header>
          <mat-card-title>Jadłospis</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button class="card-container__button-right button-color" mat-raised-button (click)="openDialog()">Edytuj</button>
            <mat-list class="card-container__list" role="list">
              <mat-list-item style="color: #7bba70" *ngFor="let dish of dishes">
                {{dish.quantity}}x {{dish.product.name}}
             </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button class="button-color" (click)="savePlan()" mat-raised-button>Zapisz</button>
        </mat-card-actions>
      </mat-card>
</div>