<div class="login-containter">
    <mat-card>
          <mat-card-title>Zarejestruj sie</mat-card-title>
      <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <p>
            <mat-form-field>
              <input type="email" matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Hasło" formControlName="password">
          </mat-form-field>
        </p>
        <div class="button">
          <button class="button-color" type="submit" mat-raised-button color="warn" >Zarejestruj</button>
        </div>
      </form>
      </mat-card-content>
    </mat-card>
  </div>