<div class="container">
<mat-card class="section" *ngIf="!dietGoal || editingDietGoalEnabled">
    <h1>Cel dietetyczny:</h1>
    <div class="section__form">
        <form [formGroup]="dietGoalForm" (ngSubmit)="saveDietGoal()">
            <input formControlName="value" type="number" min="1" max="10000" required>
            <mat-form-field style="margin-left: 10px;" appearance="fill">
                <mat-select formControlName="unit">
                    <mat-option value="kcal">kcal</mat-option>
                    <mat-option value="protein">białko(g)</mat-option>
                    <mat-option value="carbohydrates">węglowodany(g)</mat-option>
                </mat-select>
            </mat-form-field>
            <button style="margin-left: 10px;" class="button-color" type="submit" mat-raised-button>Zapisz</button>
        </form>
    </div>
</mat-card>
<mat-card *ngIf="dietGoal && !editingDietGoalEnabled" class="section">
    <h1>Codzienny Cel dietetyczny: {{this.dietGoal.value}} {{this.getUnit()}} {{this.translateUnit()}}</h1>
    <button class="button-color" (click)="editGoal()" mat-raised-button>Edytuj</button>
</mat-card>
<mat-card *ngIf="showStats" class="section" style="background-color: white; height: 400px; width: 750px; margin-left: auto; margin-right: auto; margin-top: 20px;">
    <h1>Podsumowanie:</h1>
    <ngx-charts-line-chart *ngIf="dietGoal" [view]="view" [scheme]="colorScheme" [legend]="legend"
        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="data"
        (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-line-chart>
</mat-card>
</div>