.section {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color: #7bba70;
    color: white;

    .section__form {
        display: flex;
        flex-direction: row;
    }
}
