.home-containter {
    background-color: #70ba76;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column; 

    .home-containter__header {
        display: flex;
        flex-direction: row; 
        justify-content: center;
        padding-top: 55px;
    
        .home-containter__title {
            font-family: 'Courgette', cursive;
            font-size: 48px;
        }
        
        .home-containter__logo {
            font-size: 48px;
        }
    }

    .home-containter__description {
        padding-top: 30px;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;


        p {
            width: 700px;
        }

        .home-containter__buttons {
            padding-top: 10px;
        }
    }
    
   
}

