<div class="home-containter">
    <div class="home-containter__header">
        <h1 class="home-containter__title">Diet App</h1>
        <span class="home-containter__logo material-icons">
            restaurant
        </span>
    </div>
    <div class="home-containter__description">
        <div></div>
        <div class="home-containter__text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec libero dui, gravida in pellentesque nec, pharetra id nisi. Suspendisse ac lectus a tellus volutpat imperdiet at ac purus. Fusce euismod egestas tempor. Nulla in hendrerit purus, eu porta nunc. In velit dui, malesuada vitae facilisis placerat, porttitor vitae tortor. Quisque tincidunt augue non magna consectetur, ut mollis nisl ultrices. Fusce nibh augue, accumsan quis ex sit amet, sollicitudin eleifend odio. Ut imperdiet ex pretium, rhoncus urna sit amet, sodales ante.
            </p>
            <p>
                Pellentesque porta diam in arcu accumsan luctus et sed nisi. Vivamus sit amet dui eu mauris faucibus lobortis. Nunc orci lacus, viverra et augue eu, tincidunt facilisis neque. Donec varius neque nisl, non venenatis mauris feugiat id. Donec efficitur eleifend dapibus. Integer volutpat, dolor ac rutrum molestie, augue dui semper leo, ac accumsan velit odio et justo. Mauris aliquam gravida tellus, ut pellentesque eros facilisis eget. Pellentesque maximus rhoncus velit, et elementum neque suscipit id. 
            </p>
            <p>
                Cras finibus velit et finibus egestas. Suspendisse id consequat augue. Etiam eget sodales enim, id ultrices risus. Nam blandit risus sed nulla varius feugiat. Ut non lectus mi.
            </p>
            <p>
                Praesent pellentesque, tellus nec efficitur gravida, turpis nisl tristique sem, eget rhoncus neque mi non risus. Suspendisse laoreet lectus ut ipsum tempor porta. Fusce scelerisque volutpat dolor sed aliquet. Pellentesque velit tellus, ullamcorper at elementum sit amet, ornare et ex. Etiam et mi aliquet est viverra luctus. Etiam ultrices odio eu ex hendrerit viverra. Phasellus eget felis non dui feugiat pulvinar vel at tellus. Sed nisi dolor, blandit eu faucibus nec, vulputate eu elit. Sed sit amet lacus sit amet lorem finibus pharetra. Mauris pulvinar ipsum sit amet mollis iaculis. Mauris sit amet tortor ex. Curabitur cursus nunc in augue imperdiet, quis iaculis enim aliquet.
            </p>
        </div> 
        <div></div>
    </div>
    <div class="home-containter__description">
        <div></div>
        <div class="home-containter__buttons">
            <button class="button-color" mat-raised-button color="warn" [routerLink]="'/login'">Zaloguj się</button>
            lub 
            <button class="button-color" mat-raised-button color="warn" [routerLink]="'/signup'">Zarejestruj się</button>
        </div>
      <div></div>
    </div>
</div>
