<div class="container">
  <mat-tab-group>
    <mat-tab label="Produkty">
      <div class="login-containter">
        <mat-card>
          <mat-card-title>Dodaj produkt</mat-card-title>
          <mat-card-content>
            <form [formGroup]="productForm" (ngSubmit)="submitProduct()">
              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="Nazwa produktu" formControlName="name">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type="number" matInput placeholder="Ilość kcal" formControlName="kcalAmount" min="1"
                    max="10000">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type="number" matInput placeholder="Ilość protein(g)" formControlName="proteinAmount" min="1"
                    max="1000">
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input type="number" matInput placeholder="Ilość węglowodanów(g)"
                    formControlName="carbohydratesAmount" min="1" max="1000">
                </mat-form-field>
              </p>

              <div class="button">
                <button class="button-color" type="submit" mat-raised-button>Dodaj produkt</button>
              </div>

            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Posiłki">
      <div class="login-containter">
        <mat-card>
          <mat-card-title>Dodaj posiłek</mat-card-title>
          <mat-card-content>
            <form [formGroup]="dishForm" (ngSubmit)="submitDish()">
              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="Nazwa posiłku" formControlName="name">
                </mat-form-field>
              </p>

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="products">
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nazwa produktu </th>
                    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <mat-cell *matCellDef="let product; let i = index">
                      <input *ngIf="!addingsHidden[i]" [(ngModel)]="quantitys[i]" type="number" matInput
                        placeholder="Ilość" min="1" max="1000" [ngModelOptions]="{standalone: true}">
                      <button (click)="addIngredient(quantitys[i], product, i)" *ngIf="!addingsHidden[i]"
                        mat-button>dodaj</button>
                      <span *ngIf="addingsHidden[i]" class="material-icons">
                        done
                      </span>
                    </mat-cell>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>


              <div class="button">
                <button style="margin-top: 15px;" class="button-color" type="submit" mat-raised-button>Dodaj posiłek</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>