.login-containter {
    background-color: #7bba70;
    height: 100%;
    display: flex;
    justify-content: center;

    mat-card {
        margin-top: 50px;
        background-color: #70ba76;
        height: 400px;
        width: 400px;
    }
}

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }