<mat-toolbar class="header">
    <mat-toolbar-row class="header__row">
        <div *ngIf="!isAuthenticated" class="header__header" [routerLink]="'/'">
            <h1 class="header__title">Diet App</h1>
            <span class="header__logo material-icons">
                restaurant
            </span>
        </div>
        <div *ngIf="isAuthenticated" class="header__header" [routerLink]="'/summary'">
            <h1 class="header__title">Diet App</h1>
            <span class="header__logo material-icons">
                restaurant
            </span>
        </div>
        <div *ngIf="isAuthenticated" class="header__navbar">
            <a mat-button [routerLink]="'/summary'">Podsumowanie</a>
            <a mat-button [routerLink]="'/plan'">Jadłospis</a>
            <a mat-button [routerLink]="'/products'"> Produkty i posiłki</a>
        </div>
        <span *ngIf="isAuthenticated" class="header__icon material-icons" [matMenuTriggerFor]="menu">
            person_pin
        </span>
        <span *ngIf="!isAuthenticated" [routerLink]="'/login'" class="header__icon material-icons">
            person_pin
        </span>
        <mat-menu class="header__menu--color-green" #menu="matMenu">
            <button (click)="onLogout()" mat-menu-item>Wyloguj się</button>
          </mat-menu>
      </mat-toolbar-row>
  </mat-toolbar>