.header {
    justify-content: center;
    background-color: #4DA954;

    .header__row {
        justify-content: space-between;

        .header__header {
            display: flex;
            flex-direction: row;
            cursor: pointer;

            .header__title {
                font-family: 'Courgette', cursive;
                font-size: 28px;
            }
            
            .header__logo {
                font-size: 28px;
            }
        }
        
        .header__navbar {
            display: flex;
            justify-content: space-between;
            width: 400px;

            a {
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
                color: white;
            }
         }
         .header__icon {
            font-size: 32px;
            cursor: pointer;
         }
    }
}

::ng-deep .header__menu--color-green {
    background-color: #4DA954 !important;
}
