/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.button-color {
    background-color: #409446 !important;
}
.container {
    background-color: #7bba70;
    height: 100%;
}

.mat-dialog-container {
    background-color: #7bba70;
}

.mat-table {
    background-color: #7bba70;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: white;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) mat-option.mat-active {
    color: white;
    background-color: #609157;
}

.mat-option {
    background-color: #7bba70;
}

.mat-option:hover:not(.mat-option-disabled) {
    background-color: #609157;
}
