<div mat-dialog-content>
  <p>Wybierz produkt/posiłek</p>
  <table mat-table [dataSource]="dishes">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nazwa produktu </th>
      <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <mat-cell *matCellDef="let product; let i = index">
        <input *ngIf="!addingsHidden[i]" [(ngModel)]="quantitys[i]" type="number" matInput placeholder="Ilość" min="1" max="1000" [ngModelOptions]="{standalone: true}">
        <button (click)="selectDish(quantitys[i], product, i)" *ngIf="!addingsHidden[i]" mat-button>dodaj</button>
        <span *ngIf="addingsHidden[i]" class="material-icons">
          done
          </span>
      </mat-cell>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="selectedDishes" cdkFocusInitial>Zapisz</button>
</div>